:root {
    --font-family: roboto, 'sans-serif';

    // шрифт s
    --font-size-s: 12px;
    --font-lh-s: 160%;
    --font-s: var(--font-size-s) / var(--font-lh-s) var(--font-family);

    // шрифт m
    --font-size-m: 16px;
    --font-lh-m: 150%;
    --font-m: var(--font-size-m) / var(--font-lh-m) var(--font-family);

    // шрифт l
    --font-size-l: 24px;
    --font-lh-l: 120%;
    --font-l: var(--font-size-l) / var(--font-lh-l) var(--font-family);

    // navbar
    --navbar-height: 60px;

    // sidebar
    --sidebar-width: 300px;
    --sidebar-collapsed-width: 80px;

    // error
    --red-light: rgb(250 99 99);
    --red-dark: rgb(236 0 0);
}
