.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: end;
    position: sticky;
    top: 0;
}

.buttons {
    display: flex;
    gap: 12px;
}
